.git
.gitignore
.docker
.aws
.ngc
.runpod
.venv
.idea
__pycache__
*.py[codz]

artifacts
data/cache
data/downloads
data/processed
data/raw

.huggingface
.nv
.torch
.torch_extensions
checkpoints
converted-checkpoints
exports
model-cache
models
nemo_experiments
results
torch_compile_debug
triton_cache
wandb

*.ckpt
*.docker.tar
*.dockerbuild
*.ncu-rep
*.nemo
*.nsys-rep
*.oci.tar
*.pt
*.pth
*.qdrep
*.safetensors
core
core.*
